@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto+Slab:wght@400;500;600&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #002536;
  color: #B2D5EE;
}

.slide {
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  color: #B2D5EE;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.home img.sized {
  width: 40rem;
  height: 30rem;
}

.resource {
  margin: 0.8rem 0;
}